@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Montserrat:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #f8f9ff;
  --foreground: #181c20;
  --color-primary: #0071b9;
  --color-secondary: #29abe2;
  --color-accent: #d9e021;
  --color-light: #f2f2f2;
  --color-dark: #2d3136;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}
